/*top right bottom left*/
#page-room{
	background:#12F2E9;
}

.button-big{
	position:relative;
	float:left;
}
.button-big.div{

}
.button-big a {
	margin:6px;
	background:white;
   width: 90px; /*div height is set by img size+padding, width=110 otherwise goes to screenwidth*/
   display: block; /*otherwise button will shrink to text size*/
   padding:4px;
   border-top: 1px solid #96d1f8;
   -webkit-border-radius: 10px;
   -moz-border-radius: 10px;
   border-radius: 10px;
   -webkit-box-shadow: rgba(0,0,0,1) -2px 2px 4px;
   -moz-box-shadow: rgba(0,0,0,1) -2px 2px 4px;
   box-shadow: rgba(0,0,0,1) -2px 2px 4px;
   /*text-shadow: rgba(1,0,0,.4) 0 2px 0; */
}
.button-big a .ui-link{
}

.button-big span{
	text-decoration: none;
	position: absolute;
	bottom:15px;
	left:40px;
	font-size: 2.3em;
	font-family: "Trebuchet MS", Helvetica, sans-serif; 
	color: #D43300;
  		/*font-family: "Palatino Linotype", "Book Antiqua", Palatino, serif;
		font-family: Tahoma, Geneva, sans-serif;
		font-family: Georgia, serif;
  		font-family: "Comic Sans MS", cursive, sans-serif;
   		font-family: Arial, Helvetica, sans-serif;
		font-family: Verdana, Geneva, sans-serif;*/
}
.button-big a:hover {
   border-top-color: #28597a;
   background: #28597a;
   opacity:0.9;
}

.button-big img{
	border-radius: 10px;
	height:90px;
}
.col1a{
	background:yellow;
}
.boost-div {
	margin:auto;
	width:300px;
	background:#A0D800; /*to see borders of div*/
	color:red;	
	display:block;
	/*width:320px;*/
	height:250px;
	/*float:left;*/
	border:6px;
	padding: 6px 0 0 6px;
}
.boost-inputs {
	margin-top:6px;
	padding:4px;
	float:left;
	background:#EACF00; /*to see borders of div*/
	display:block;
	height:108px;
	width:160px;
} 
.boost-button{
	//float:right;
	background:green;
}
.boost-hrs {
	margin-top:0px;
	padding:0 10px 0 10px;
	float:left;
	background:#D5C200; /*to see borders of div*/
	display:block;
	height:104px;
	width:220px;
} 
.col1b{
	background:#B1E9CF;
}
.set-div {
	margin:auto;
	width:270px;
	background:#C1E7E9;
	color:blue;	
	display:block;
	//width:320px;
	height:312px;
	//float:left;
	border:0px 0px 6px 0px;
	padding: 16px 0 0 0px;
}
.set-buttons {
	margin-top:0px;
	padding:13px 0px 0 0px;
	float:left;
	background:#87E6CF; /*to see borders of div*/
	display:block;
	height:100px;
	width:200px;
} 
.set-datetime p{
	float:right;
}
.set-datetime{
	display:block;
	float:left;
	width:230px;
	background:#3A5BB4;
}

.set-setpt{
	display:block;
	float:left;
	width:230px;
	background:#7FBD93;
}
.col2 {
	background:#B6EB00;
}
.prog-div{
	margin:auto;
	width:308px;
	height:800px;
	background:#1EF922;
	display:block;	
}
.prog-load{
	background:#1EF922;
	display:block;	
	height:20px;
}
.prog-clear{
	background:#41F17C;
	display:block;	
	float:right;
}

.prog-day{
	float:left;
	margin:auto;
	background:#41F17C;
	display:block;	
	width:308px;
	height:100px;
}
.prog-day div.day2, .prog-time div.prog-time-box {
	border-radius: 15px;
	border:0px;
	padding:0px;
	margin:0px;
	list-style: none;
	float: left;	
}
.prog-day ul{
	margin:2px;
	padding:17px 0 17px 3px;
}
.prog-time{
	float:left;
	margin:auto;
	width:290px;
	background:#6CF77C;
	display:block;	
	height:280px;
	border: 1px solid black;
}
.prog-time-box ul{
	margin:2px;
	padding:7px 0 17px 3px;
}
.prog-day div.day2 li, .prog-time div.prog-time-box li{
	//display:inline;
	float:left;
	padding:0px;
	margin:0px;
	border:0px;
}
.prog-day div.day2 a, .prog-time div.prog-time-box a{
	margin:0px;
	text-decoration: none;
	color:white;
	text-shadow:1px 1px #FF0000;
	font-size: .9em;
	border: 1px solid black;
	border-left: none;
	display: block;
	padding: 7px 15px 7px 12px;
	background: #5791BC ;
}
.prog-time div.prog-time-box a{
	padding: 7px 8px 7px 8px;
}
.prog-day div.day2 a.sel{
	color:black;
	background: #B1E9CF;
}
.right{
	border-radius:0 5px 5px 0;
}
.prog-day div.day2 a.left, .prog-time a.left{
	border-radius:5px 0 0 5px;
	border-left:1px solid black;
}

.prog-t{
	float:left;
	height:90px;
	background:#D4F4FF;
	width:108px;
}
.prog-te{
	float:left;
	height:90px;
	background:#D4F4FF;
	width:180px;
}
.prog-copy{
	margin:auto;
	width:290px;
	background:#6CF7B4;
	display:block;	
	height:290px;
}
.prog-copy a{
	width:90px;
	float:left;
}
.prog-copy-save-but{
	background:#E3DFB4;
	width:116px;
	height:170px;
	float:left;
}
.prog-copy-zones{
	margin:6px;
	float:left;
	width:150px;
	background:white;
}
.prog-copy-zones p{
	float:left;
}
.prog-copy-zones li{
	background: #D4F4FF;
	border: 1px outset #B0E8FF;
	padding:5px;
}
.prog-copy-zones a{
	width:25px;                            :;
}
.prog-copy-zones img{
	height: 18px;
	width:18px;
}
.prog-copy-zones span{
	padding:0 0 0 10px;
}
.prog-copy-save{
	background:#BBADB4;
	margin:0px;
	padding:0 0 0 10px;
	float:left;
}
.prog-save{
	height:100px;
	background:#1EF922;
	display:block;	
}
div.prog-time {
	display:block;
}
div.prog-time div.prog-time-box {
	display:block;
}
div.prog-time div.prog-time-box div.prog-tes {
	display:block;
}
div.prog-time div.prog-time-box div.prog-tes ul{
	display:block;
}
div.prog-time div.prog-time-box div.prog-tes li{
	margin:auto;
	border: 1px solid blue;
	display:inline;
	background: #D4F4FF;
	padding:5px;
}
div.prog-time div.prog-time-box div.prog-tes a{
	border:0;
	padding:0px 0 4px 0;
	display:inline;
	background: white;	
}
div.prog-time div.prog-time-box div.prog-tes span{
	padding: 5px 40px 4px 40px;
}
.col3 {
	background:#1EF9F6;
}
.timest {
    float: right;
    font-size: .6em;
    color: white;
}
.setpt {
		width: auto;
		border-radius: 3px;
		float: right;
		padding: 3px;
		color: white;
}
#rooms{margin-top: .1em;}
#boost-sl  {display : none;}
a.btn-big {
	color:green;
	height:80px;
	width: 80px;
	background-image: url(../'img/hcsbs.jpg') !important;
}
.ui-icon-boost {background-image: url('../img/hcsbs.jpg'); width:80px; height:60px;}

/* Start with core styles outside of a media query that apply to mobile and up */
/* Global typography and design elements, stacked containers */
body { font-family: Helvetica, san-serif; }
H1 { color: green; }
.thelp {font-size: .6em;}
.green{background: rgba(38,162,43,.75);}
.orange{background: rgba(153,0,10,.75);}
.blue{background: rgba(50, 99,187,.75);}
.black{background: rgba(0,0,0,.75);}

.head-rm header {height:70px;}
.head-img {float:left;}
.head-img img {width:110px; height:70px;}
.head-txt {float:left; width:100px; margin:4px; font-family:"Arial Black", Gadget, sans-serif;}
.head-temp {height:55px;font-size:2.5em; float:right; margin:4px;}
.head-rm-name {float:right;}
.head-menu {
	float:left; 
	background: rgba(0,0,0,.4); 
	color: rgba(0,0,0,.4);
	position:absolute;
	left:280px;
	top:2px;
	width:30px;
}

/* Stack the two content containers */
.main{border:2px solid green;}
.col1 { display:block; width:100%; margin:0}
.col1 .col1a{border:0px solid red;}
.col1 .col1b{border:0px solid blue;}
.col2 { width:100%; border:0px solid green;}
.col3 { width:100%; border:0px solid yellow;}

@media all and (min-width: 36em){
	.boost-div {
		margin:auto;
		width:36em;
		height:150px;	
	}
	.set-div {
		margin:auto;
		width:28em;
		height:200px;	
	}	
	.prog-div {
		margin:auto;
		width:36em;
		height:750px;		
	}
}

/* First breakpoint at 576px */
/* Inherits mobile styles, but floats containers to make columns */
@media all and (min-width: 42em){
		.main { float: left; width:30%; }
		.col1 { float: left; width:50%; }
		.col2 { float: left; width:50%; }	
		.col3 { float: left; width:50%; }		
	.head-menu {
	    float:left;
		background: rgba(0,0,0,.4); 
		color: rgba(0,0,0,.4);
		position:relative;
		display:inline;
	}
	.boost-div {
		margin:auto;
		width:300px;	
		height:250px;
	}
	.set-div {
		margin:auto;
		width:270px;	
		height:312px;
	}	
	.prog-div {
		margin:auto;
		width:300px;
		height:750px;		
	}		
}


/* Second breakpoint at 800px */
/* Adjusts column proportions, tweaks base H1 */
@media all and (min-width: 70em){
	.main { width:30%; }
	.col1 { float: left; width:34%; }
	.col2 {float: left; width:33%; }
	.col3 {width:33%; }	
	/* You can also tweak any other styles in a breakpoint */
	H1 { color: blue; font-size:1.2em }
}
/*this is for page1*/
@media all and (min-width: 480px){
	.setpt {
		width: auto;
		border-radius: 3px;
		float: right;
		padding: 4px;
	}
}
#page-room.ui-content{
	padding:0;
}
